@use "../abstracts/bundle" as abs;

.director {
    background: map-get(abs.$colors, mint-reverse-gradient);
    
    &__container {
        max-width: 120rem;

        @media (max-width: map-get(abs.$break-points, tablet)) {
            flex-direction: column-reverse;
        }
    }

    &__image {
        width: 40rem;
        height: 50rem;
        background-image: url("../images/director_image.webp");
        border-top-left-radius: 40rem;
        border-top-right-radius: 40rem;

        @media (max-width: map-get(abs.$break-points, laptop)) {
            width: 30rem;
            height: 40rem;
            border-top-left-radius: 30rem;
            border-top-right-radius: 30rem;
        }
    }

    &__message {
        @include abs.resSpacing(margin-bottom, spacing-sm);
    }

    &__career {
        @include abs.resSpacing(gap, spacing-xxs);

        display: flex;
        flex-direction: column;
    }
}