@use "../abstracts/bundle" as abs;

.equipment {
    background-color: map-get(abs.$colors, white-50);

    &__container {
        @include abs.resSpacing(gap, spacing-xl);

        flex-direction: column;
        align-items: start;
        overflow: hidden;

        @media (max-width: map-get(abs.$break-points, tablet)) {
            align-items: center;
        }
    }
    
    .swiper {
        width: 100%;
    }

    .swiper-slide {
        @include abs.resSpacing(gap, spacing-sm);

        width: fit-content;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
    }

    .text-container {
        width: fit-content;
    }

    .slide {
        &__image {
            width: 30rem;
            height: 30rem;
            border-radius: 2rem;
            border: 0.1rem solid map-get(abs.$colors, mint);
            background-color: rgba(221, 238, 237, 0.55);
        }

        &__title, &__desc {
            width: fit-content;
        }

        &__desc {
            @include abs.resSpacing(margin-top, spacing-xxs);
        }
    }
}