@use "../abstracts/bundle" as abs;

.slide-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: map-get(abs.$colors, green);

    &__container {
        @include abs.resSpacing(padding-left, spacing-lg);
        @include abs.resSpacing(padding-right, spacing-lg);
    }

    &__head {
        justify-content: space-between;
        margin-bottom: 4rem;
        border-bottom: 0.05rem solid map-get(abs.$colors, white-100);
    }

    i {
        color: map-get(abs.$colors, white-50);
        font-weight: 400;
    }

    .menu-list {
        @include abs.resSpacing(gap, spacing-sm);

        flex-direction: column;
        align-items: start;
    }

    .menu-item {
        height: 4rem;
        color: map-get(abs.$colors, white-50);
    }
}